@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <html>
    <head>
        <style>
            body {
                background-color: lightgreen;
            }

            h1 {
                color: white;
                text-align: center;
            }

            h2 {
                color: black;
                text-align: center;
            }

            p {
                font-family: Georgia, serif;
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        
        <h1>Fortunate Future</h1>
        <h2> Our Story</h2>
        <p>Fortunate Future was established in 2022 and is a non-profit organisation committed to promoting youth literacy and quality education in all subjects, in schools in South Africa's under-resourced communities. As the name indicates, we firmly believe that children need to learn in order to create a better future for their personal development and contribution to society.  </p>

        <h2> Quality Education</h2>
            <p>Education is the key that
            will allow many other
            Sustainable Development
            Goals (SDGs) to be
            achieved. When people
            are able to get quality
            education they can break
            from the cycle of poverty.
            Education therefore helps
            to reduce inequalities and
            to reach gender equality.
            It also empowers people everywhere to live
            more healthy and sustainable lives. Education
            is also crucial to fostering
            tolerance between people and contributes to
            more peaceful societies.</p>
        <h2> Our Mission</h2>
        <p>Supports learners from all different backgrounds in learning initiatives; Builds on existing skills and strengths to promote positive early learning development outcomes for children; Enhances the skills and knowledge of unskilled educators; and Provides support to improve the quality of early childhood education programmes.</p>
        <p> Fortunate Future runs a range of early childhood development programmes that work with young children, their parents or primary caregivers and educators in early childhood centres. The aim with these programmes are to improve the learning and development of young children.</p>
        

    </body>
</html>
