
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        border: green 2px solid;
        border-radius: 5px;
        margin: 50px 300px 50px 300px;
        padding: 20px;
    }
</style>
<div class="center">
    @using (Html.BeginForm("Partnership", "Home", FormMethod.Post))
    {
        <form>
            <H3 style="color:green">Partnership</H3>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    
                </div>
                <input name="sponsor" class="form-control" placeholder="Sponsor" type="text">
            </div>
            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        
                    </span>
                </div>
                <input name="programme" class="form-control" placeholder="Programme" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                   
                </div>

                <input name="donation" class="form-control" placeholder="Donation" type="number">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        
                    </span>
                </div>
                <select class="form-control" name="partnershipType">
                    <option value="None">Partnership Type</option>
                    <option value="Individual">Individual</option>
                    <option value="Collaboration">Collaboration</option>
                    <option value="Company">Company</option>
                    <option value="NGO">NGO</option>
                </select>
            </div> <!-- form-group end.// -->

            <div class="form-group input-group">
                <div class="input-group-prepend">
                   
                </div>
                <input class="form-control" placeholder="Duration (In weeks)" type="number" name="duration">
            </div>
            <!-- form-group// -->
           
            <input type="submit" class="btn btn-success" value="Submit" />
        </form>
    }


</div>

