
@{
    ViewBag.Title = "UseCases";
}

<h2>UseCases</h2>

<img src="C:\Users\TEMP\Desktop\Recycling_System\Recycling_System\Content\Images\ERD.jpeg" style="width: 1000px; height: 300px;">
<img src="C:\Users\TEMP\Desktop\Recycling_System\Recycling_System\Content\Images\NARRATIVE1.jpeg" style="width: 1000px; height: 300px;">
<img src="C:\Users\TEMP\Desktop\Recycling_System\Recycling_System\Content\Images\NARRATIVE2.jpeg" style="width: 1000px; height: 300px;">

